body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: red;
  }

.container {
    max-width: 800px; /* Limit the container width for readability */
    margin: 40px auto; /* Center the form */
    padding: 30px; 
    border-radius: 8px;  /* Slightly rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h2 {
    text-align: center;
    margin-bottom: 30px; 
}

.form-control {
    margin-bottom: 15px; 
}

.btn {
    background-color: #007bff; /* Example blue button */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3; /* Slightly darker on hover */
}
.img-thumbnail {
    max-width: 250px;
    max-height: 250px;
  }
  




