body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1000px;
    padding:2px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#charts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.chart-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.05);
}

h2 {
    margin-bottom: 15px;
}

.loader {
    display: none;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
} 
#findSponsorsBtn {
    background-color: #4CAF50; /* Example: Green color */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px; /* Add some spacing */
  }
  